body{font-family: "Geogia";}
.total{
            background: grey;
            height: 1000px;
            width: 100%;
         }
.topMenu {
            position: fixed;
            display: flex;
            justify-content: space-between;
            background-color: #333;
            height: 37px;
            width: 100%;
         }
a       {
            text-decoration: none;
            color: #FFFFFF;
         }
.mainBar{
            list-style: none;
            display: flex;
            color: #FFFFFF;
            margin: 0;
            text-align: center;
         }
.mainBar li{
            padding: 11px 50px;
         }
.nameBar{   
            list-style: none;
         }
.Contact {  
             list-style: none;
            background-color: #333;
            width: 100%;
            color: #FFFFFF;
         }  
.secondBar {list-style: none;}
.Git li{
            list-style: none;
         }                

