body{font-family: "Geogia";}
.total{
            background: grey;
            height: 100vh;
         }
.topMenu {
            display: flex;
            justify-content: space-between;
            background-color: #333;
            padding: 0px 0px;
         }
a       {
            text-decoration: none;
            color: #FFFFFF;
         }
.mainBar{
            list-style: none;
            display: flex;
            color: #FFFFFF;
            margin: 0;
            text-align: center;
         }
.mainBar li{
            padding: 11px 50px;
         }
.nameBar{   
            list-style: none;
         }
.Contact li{  
            list-style: none;
         }  
.Git li{
            list-style: none;
         }                
