@font-face {
   font-family: "SeoulNamsanM";
   src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff")
     format("woff");
   font-weight: normal;
   font-style: normal;
 }
 
 @font-face {
   font-family: "SeoulNamsan";
   font-weight: 800;
   font-style: normal;
   src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanExtraBold.eot");
   src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanExtraBold.eot?#iefix")
       format("embedded-opentype"),
     url("https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanExtraBold.woff2")
       format("woff2"),
     url("https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanExtraBold.woff")
       format("woff"),
     url("https://cdn.jsdelivr.net/gh/webfontworld/seoulnamsan/SeoulNamsanExtraBold.ttf")
       format("truetype");
   font-display: swap;
 } 
body{font-family: "Geogia";}
.total{     
            background: grey;
            min-height: 100vh;
            min-width: 100vw;
         }
.topMenu {
            font-family: "SeoulNamsanM";
            display: flex;
            justify-content: space-between;
            background-color: #333;
            min-height: 2.4vh;
            min-width: 100vw;
            align-items: center;
         }
a       {
            text-decoration: none;
            font-size: 22px;
            color: #FFFFFF;
            align-items: center;
         }
.mainBar{
            list-style: none;
            display: flex;
            color: #FFFFFF;
            margin: 0;
            text-align: center;
            opacity: 0.7;
            align-items: center;
         }
.mainBar0 {
            background-color: #333;
            width: 300px;
           }      
.mainBar1 {
          background-color: #333;
          width: 300px;
         }
.mainBar2 {          
            background-color: #333;
            width: 300px;
         }
.mainBar3 {
            background-color: #333;
            width: 300px;
         }
.mainBar4 {
            background-color: #333;
            width: 300px;
         }
.mainBar5 {
            background-color: #333;
            width: 300px;
         }
.mainBar0,.mainBar1,.mainBar2,.mainBar3,.mainBar4,.mainBar5{
            width: 400px;
            margin: 30px;
            text-align: center;
         }
.image-box{ 
            width: 450px;
            height: 450px;
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            bottom: -400px;
            right: 450px;
            margin:0 auto;
            border: 5px solid #FFFFFF;
            opacity: 0.7; 
         }         
.proFile {
            padding-left: 1200px;
            padding-top: 0px;
         }
.profile  {
            font-size: 60px;
            color: #FFFFFF;
            opacity: 0.7;
         }
.Contact {
            padding-left: 1200px;
         }
.Git{
            padding-left: 1200px;
            color: #FFFFFF;
            opacity: 0.7;
         }
.nameBar{   
            list-style: none;
            color: #FFFFFF;
            opacity: 0.7;
            font-size: 25px;
         }
.Contact li{  
            list-style: none;
            background-color: gray;
            width: 100%;
            color: #FFFFFF;
            opacity: 0.7;
         }  
.secondBar {list-style: none;}
.Git li{    font-size: 22px;
            list-style: none;
         }                

.time{
             font-family: Arial;
             text-align: center;
             font-size: 350px;  /* 원하는 폰트 사이즈 */
             font-weight: bold;
             color: #FFFFFF; /* 시간이 표기되는 텍스트 색상 */
             opacity: 0.7;
             position: fixed; top: 700px; right: 680px;
         }
.bottom{
             color: #FFFFFF;
             background-color: #333;
             height: 2.4vh;
             min-width: 100vw;
             position: absolute;
             bottom: 0;
         }
